body {
  margin: 40px;
}

h1 {
  text-align: center;
  margin-top: 80px;
}

p {
  text-align: center;
  font-size: 20px;
}

.photo {
  display: block;
  margin: 50px auto;
  max-width: 100%;
}

.navigation-links {
  text-align: center;
  margin: 20px;
}
.homepage-link {
  margin: 20px;
}

.photo-link {
  margin: 20px;
}

.contact-link {
  margin: 20px;
}
